<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="main">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <!--<li ui-sref-active="active" class="dropdown">
          <a ui-sref="gallery" class="dropdown-toggle" data-toggle="dropdown">Gallery <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a ui-sref="upload">Upload<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
            </li>
          </ul>
        </li>-->
        <li ui-sref-active="active"><a ui-sref="gallery">Gallery<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li ui-sref-active="active"><a ui-sref="upload">Upload<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li ui-sref-active="active"><a ui-sref="image">Image<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li ui-sref-active="active"><a ui-sref="contact">Contact Us<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a>
      </ul>
    </div>
  </div>
</nav>

