/* Space out content a bit */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */

.header {}
/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
}
/* Customize container */

@media (min-width: 1080px) {
  .container {
    width: auto;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
  position: absolute;
  top: 120px;
  left: auto;
  right: auto;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}
.main-alert {
  position: absolute;
  top: 120px;
  left: 5px;
  right: 5px;
  max-width: 400px;
  margin: 0 auto;
}
.alert-hidden {
  visibility: hidden;
}
.ui-view-container {
  width: 100%;
}
.right-orientation {
  float: right;
  width: 85%;
}
.left-orientation {
  float: left;
  position: absolute;
  left: 0px;
  width: 15%;
}
.customheader {
  height: 10%;
}
.custombody {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  margin-left: 20%;
  height: 90%;
  width: 80%;
}
.singleLine {
  display: inline;
}
.warningTsxt {
  color: red;
}
.centerAlign {
  margin: auto 0;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
